body {
    margin: 0;
}

.titlebar {
  height: 30px;
  background: #2f3241;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  app-region: drag;
}

body {
  app-region: no-drag;
}

button {
  app-region: drag;
}